<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Student Donation Manager</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css"/>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--   <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
 -->    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>


 <link rel="stylesheet" href="jquery-ui-1.10.4.custom.css" />

 <style type="text/css">
  .btn-float-right {
    float: right;
    position: relative;
    top: -10px;
  }
  .ui-autocomplete {
    z-index: 9999;
  }
  </style>


</head>
<body>

  <div class="container">
    <div class="col-md-6" style="margin-top: 20px">
        <ul class="nav nav-pills" >
            <li id="home-tab" class="active"><a href="#">Home</a></li>
            <li id="students-tab"><a href="#/students">Students</a></li>
            <li id="donors-tab"><a href="#/donors">Donors</a></li>
            <li id="trips-tab"><a href="#/trips">Trips</a></li>
        </ul>
        </div>
        <div class="col-offset-md-6" style="text-align: right">
         <h1>Donation Manager</h1>
        </div>
    <div class="page"></div>
  </div>


<!-- Templates -->

  <script type="text/template" id="student-list-template">
  <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/newStudent" class="btn btn-success">New Student</a>
      </div>
    <h3>Students</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th><th>Age</th><th>Street</th><th>City</th><th>State</th><th>Zip</th>
    </tr>
  </thead>
  <tbody>
      <% _.each(students, function(student) { %>
      <tr>
        <td><a href="#/students/<%= student.id %>"><%- student.get('firstname') %> <%- student.get('lastname') %></a></td>
        <td><%- student.get('age') %></td>
        <td><%- student.get('street') %></td>
        <td><%- student.get('city') %></td>
        <td><%- student.get('state') %></td>
        <td><%- student.get('zip') %></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
  </script>

  <script type="text/template" id="student-detail-template">
  <div>
    <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/students/edit/<%= student.get('id') %>" class="btn btn-default">Edit Student</a>
      </div>
    <h3><%= student ? student.get('firstname') : ''%><%= ' ' + student.get('lastname') %></h3>
    </div>
    <div class="row" style="margin-top: 8px">
      <label class="col-md-2 text-right">First Name</label>
        <div class="col-md-4"><%= student ? student.get('firstname') : '' %> </div>
        <label class="col-md-2 text-right">Street</label>
        <div class="col-md-4"><%= student ? student.get('street') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <label class="col-md-2 text-right">Last Name</label>
        <div class="col-md-4"><%= student ? student.get('lastname') : '' %> </div>
        <label class="col-md-2 text-right">City</label>
        <div class="col-md-4"><%= student ? student.get('city') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <label class="col-md-2 text-right">Age</label>
        <div class="col-md-4"><%= student ? student.get('age') : '' %> </div>
        <label class="col-md-2 text-right">State</label>
        <div class="col-md-4"><%= student ? student.get('state') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <div class="col-md-6" />
        <label class="col-md-2 text-right">Zip</label>
        <div class="col-md-4"><%= student ? student.get('zip') : '' %> </div>
    </div>
    </div>
    <div id="student-subpanel" />
    <div id="add-trip-placeholder" />
  </script>

  <script type="text/template" id="student-edit-template">
  <form id="edit-student-form" class="form-horizontal" role="form">
    <div class="col-sm-offset-2 col-sm-10">
        <legend><%= student ? 'Edit' : 'Create' %> Student</legend>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" name="firstname" class="form-control" value="<%= student ? student.get('firstname') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" name="lastname" class="form-control" value="<%= student ? student.get('lastname') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
            <input type="text" name="age" class="form-control" value="<%= student ? student.get('age') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Street</label>
        <div class="col-sm-10">
            <input type="text" name="street" class="form-control" value="<%= student ? student.get('street') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" name="city" class="form-control" value="<%= student ? student.get('city') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <input type="text" name="state" class="form-control" value="<%= student ? student.get('state') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-10">
            <input type="text" name="zip" class="form-control" value="<%= student ? student.get('zip') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
            <% if (student) { %>
                <input type="hidden" name="id" value="<%= student.id %>" />
                <button id="student-delete-button" type="button" class="btn btn-danger">Delete</button>
            <% } %>
        </div>
    </div>
  </form>
  </script>

  <script type="text/template" id="donor-list-template">
  <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/newDonor" class="btn btn-success">New Donor</a>
      </div>
    <h3>Donors</h3>
  </div>
    <table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th><th>Street</th><th>City</th><th>State</th><th>Zip</th>
    </tr>
  </thead>
  <tbody>
      <% _.each(donors, function(donor) { %>
      <tr>
        <td><a href="#/donors/<%= donor.id %>"><%- donor.get('firstname') %> <%- donor.get('lastname') %></a></td>
        <td><%- donor.get('street') %></td>
        <td><%- donor.get('city') %></td>
        <td><%- donor.get('state') %></td>
        <td><%- donor.get('zip') %></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
  </script>

  <script type="text/template" id="donor-detail-template">
  <div>
  <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/donors/edit/<%= donor.get('id') %>" class="btn btn-default">Edit Donor</a>
      </div>
    <h3><%= donor ? donor.get('firstname') : ''%><%= ' ' + donor.get('lastname') %></h3>
    </div>
    <div class="row" style="margin-top: 8px">
      <label class="col-md-2 text-right">First Name</label>
        <div class="col-md-4"><%= donor ? donor.get('firstname') : '' %> </div>
        <label class="col-md-2 text-right">Street</label>
        <div class="col-md-4"><%= donor ? donor.get('street') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <label class="col-md-2 text-right">Last Name</label>
        <div class="col-md-4"><%= donor ? donor.get('lastname') : '' %> </div>
        <label class="col-md-2 text-right">City</label>
        <div class="col-md-4"><%= donor ? donor.get('city') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <div class="col-md-6" />
        <label class="col-md-2 text-right">State</label>
        <div class="col-md-4"><%= donor ? donor.get('state') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <div class="col-md-6" />
        <label class="col-md-2 text-right">Zip</label>
        <div class="col-md-4"><%= donor ? donor.get('zip') : '' %> </div>
    </div>
    </div>
    <div id="donor-donations-list" />
  </script>

  <script type="text/template" id="donor-donations-list-template">
  <div style="margin-top: 36px">
  <div>
      <div class="btn-float-right">
        <button type="button"  id="add-donation-to-donor-button" class="btn btn-success">Add Donation</button>
      </div>
      <h4>Donations</h4>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>Trip</th><th>Student</th><th>Donation Date</th><th>Amount</th><th></th>
    </tr>
  </thead>
  <tbody>
      <% _.each(donations, function(donation) { %>
      <tr data-donation-id="<%- donation.get('donation_id') %>">
        <td><a href="#/trips/<%= donation.get('trip_id') %>"><%- donation.get('trip_name') %></a></td>
        <td><a href="#/students/<%= donation.get('student_id') %>"><%- donation.get('student_firstname') %> <%- donation.get('student_lastname') %></a></td>
        <td>Need a date here</td>
        <td>$<%- donation.get('amount') %></td>
        <td><a><span class="glyphicon glyphicon-remove-circle deleteDonorDonation" style="font-size: 16px; color: grey; cursor: pointer;"></span></a></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
    <% if (donations.length == 0) {%>
        <div class="alert alert-info" role="alert">No Donations Found</div>
    <% }%>
  </div>
  </script>

 <script type="text/template" id="donor-edit-template">
  <form id="edit-donor-form" class="form-horizontal" role="form">
    <div class="col-sm-offset-2 col-sm-10">
        <legend><%= donor ? 'Edit' : 'Create' %> Donor</legend>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" name="firstname" class="form-control" value="<%= donor ? donor.get('firstname') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" name="lastname" class="form-control" value="<%= donor ? donor.get('lastname') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Street</label>
        <div class="col-sm-10">
            <input type="text" name="street" class="form-control" value="<%= donor ? donor.get('street') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" name="city" class="form-control" value="<%= donor ? donor.get('city') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <input type="text" name="state" class="form-control" value="<%= donor ? donor.get('state') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-10">
            <input type="text" name="zip" class="form-control" value="<%= donor ? donor.get('zip') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
            <% if (donor) { %>
                <input type="hidden" name="id" value="<%= donor.id %>" />
                <button id="donor-delete-button" type="button" class="btn btn-danger">Delete</button>
            <% } %>
        </div>
    </div>
  </form>
  </script>

  <script type="text/template" id="trip-list-template">
  <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/newTrip" class="btn btn-success">New Trip</a>
      </div>
    <h3>Trips</h3>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th><th>Start Date</th><th>End Date</th>
    </tr>
  </thead>
  <tbody>
      <% _.each(trips, function(trip) { %>
      <tr>
        <td><a href="#/trips/<%= trip.id %>"><%- trip.get('name') %></a></td>
        <td><%- new Date(trip.get('start_date')).toDateString() %></td>
        <td><%- new Date(trip.get('end_date')).toDateString() %></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
  </script>

  <script type="text/template" id="trip-detail-template">
  <div>
  <div style="border-bottom: 1px solid grey">
      <div class="btn-float-right">
        <a href="#/trips/edit/<%= trip.get('id') %>" class="btn btn-default">Edit Trip</a>
      </div>
    <h3><%= trip.get('name') %></h3>
    </div>
    <div class="row" style="margin-top: 8px">
      <label class="col-md-2 text-right">Name</label>
        <div class="col-md-4"><%= trip ? trip.get('name') : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <label class="col-md-2 text-right">Start Date</label>
        <div class="col-md-4"><%= trip ? new Date(trip.get('start_date')).toDateString() : '' %> </div>
    </div>
    <div class="row" style="margin-top: 8px">
        <label class="col-md-2 text-right">End Date</label>
        <div class="col-md-4"><%= trip ? new Date(trip.get('end_date')).toDateString() : '' %> </div>
    </div>
    </div>
    <div id="student-tripattendances-list" />
    <div id="add-student-placeholder" />
  </script>

  <script type="text/template" id="trip-edit-template">
  <form id="edit-trip-form" class="form-horizontal" role="form">
    <div class="col-sm-offset-2 col-sm-10">
        <legend><%= trip ? 'Edit' : 'Create' %> Trip</legend>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" value="<%= trip ? trip.get('name') : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Start Date</label>
        <div class="col-sm-10">
            <input type="text" name="start_date" class="form-control" value="<%= trip ? new Date(trip.get('start_date')).toDateString() : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">End Date</label>
        <div class="col-sm-10">
            <input type="text" name="end_date" class="form-control" value="<%= trip ? new Date(trip.get('end_date')).toDateString() : '' %>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
            <% if (trip) { %>
                <input type="hidden" name="id" value="<%= trip.id %>" />
                <button id="trip-delete-button" type="button" class="btn btn-danger">Delete</button>
            <% } %>
        </div>
    </div>
  </form>
  </script>

  <script type="text/template" id="trip-tripattendances-list-template">
  <div style="margin-top: 36px">
  <div>
      <div class="btn-float-right">
        <button type="button"  id="add-trip-button" class="btn btn-success">Add Trip</button>
      </div>
      <h4>Trips</h4>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th><th>Start Date</th><th>End Date</th><th>Total Raised</th><th></th><th></th>
    </tr>
  </thead>
  <tbody>
      <% _.each(tripattendances, function(tripattendance) { %>
      <tr data-tripattendance-id="<%- tripattendance.get('id') %>">
        <td><a href="#/trips/<%= tripattendance.get('trip_id') %>"><%- tripattendance.get('name') %></a></td>
        <td><%- new Date(tripattendance.get('start_date')).toDateString() %></td>
        <td><%- new Date(tripattendance.get('end_date')).toDateString() %></td>
        <td>$<%- tripattendance.get('total') %></td>
        <td><a href="#/students/<%= tripattendance.get('student_id') %>/trips/<%= tripattendance.get('trip_id') %>" class="btn btn-default btn-xs">Donations</a></td>
        <td><a><span class="glyphicon glyphicon-remove-circle deleteTripAttendance" style="font-size: 16px; color: grey; cursor: pointer;"></span></a></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
    <% if (tripattendances.length == 0) {%>
        <div class="alert alert-info" role="alert">No Trips Found</div>
    <% }%>
  </div>
  </script>

  <script type="text/template" id="student-tripattendances-list-template">
  <div style="margin-top: 36px">
  <div>
      <div class="btn-float-right">
        <button type="button"  id="add-student-button" class="btn btn-success">Add Student</button>
      </div>
      <h4>Sponsored Students</h4>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>First Name</th><th>City</th><th>State</th><th>Total Raised</th><th></th>
    </tr>
  </thead>
  <tbody>
      <% _.each(tripattendances, function(tripattendance) { %>
      <tr data-tripattendance-id="<%- tripattendance.get('id') %>">
        <td><a href="#/students/<%= tripattendance.get('student_id') %>"><%- tripattendance.get('firstname') %> <%- tripattendance.get('lastname') %></a></td>
        <td><%- tripattendance.get('city') %></td>
        <td><%- tripattendance.get('state') %></td>
        <td>$<%- tripattendance.get('total') %></td>
        <td><a href="#/students/<%= tripattendance.get('student_id') %>/trips/<%= tripattendance.get('trip_id') %>" class="btn btn-default btn-xs">Donations</a></td>
        <td><a><span class="glyphicon glyphicon-remove-circle deleteTripAttendanceFromTrip" style="font-size: 16px; color: grey; cursor: pointer;"></span></a></td>
      </tr>
        <% }); %>
  </tbody>
  </table>
    <% if (tripattendances.length == 0) {%>
        <div class="alert alert-info" role="alert">No Students Found</div>
    <% }%>
  </div>
  </script>

  <script type="text/template" id="student-donations-list-template">
  <div style="margin-top: 36px">
    <h4>
        <ol class="breadcrumb">
            <% if (donations.length > 0) { %>
                <li><a href="#/students/<%- donations[0].get('student_id') %>">Trips</a></li>
                <li class="active">Donations for <%- donations[0].get('trip_name') %></li>
            <% } else { %>
                <li class="active">No Donations Found</li>
            <% } %>
        </ol>
    </h4>
  <table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th><th>Amount</th>
    </tr>
  </thead>
  <tbody>
      <% _.each(donations, function(donation) { %>
      <tr>
        <td><a href="#/donors/<%= donation.get('donor_id') %>"><%- donation.get('donor_firstname') %> <%- donation.get('donor_lastname') %></a></td>
        <td><%- donation.get('amount') %></td>
      </tr>
      <% }); %>
  </tbody>
  </table>
  </div>
  </script>

<!-- Modal Dialogs -->

    <script type="text/template" id="student-add-trip-dialog-template">
    <div class="modal fade" id="student-add-trip-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Trip for <%- student.get('firstname') %> <%- student.get('lastname') %></h4>
          </div>
          <div class="modal-body">
              <form id="student-add-trip-form" class="form-horizontal" role="form">
                <div class="form-group ui-widget">
                    <label for="trip-input" class="col-sm-3 control-label">Trip Name</label>
                    <div class="col-sm-9">
                        <input id="add-trip-input" type="text" />
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="student-add-trip-save-button" type="button" class="btn btn-primary" >Save</button>
          </div>
        </div>
      </div>
    </div>
    </script>

    <script type="text/template" id="trip-add-student-dialog-template">
    <div class="modal fade" id="trip-add-student-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Student for <%- trip.get('name') %></h4>
          </div>
          <div class="modal-body">
              <form id="trip-add-student-form" class="form-horizontal" role="form">
                <div class="form-group ui-widget">
                    <label for="student-input" class="col-sm-3 control-label">Student Name</label>
                    <div class="col-sm-9">
                        <input id="add-student-input" type="text" />
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="trip-add-student-save-button" type="button" class="btn btn-primary" >Save</button>
          </div>
        </div>
      </div>
    </div>
    </script>

<!-- Backbone -->

  <script type="text/javascript">
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
    };

  $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
    options.url = 'http://localhost:5000' + options.url;
    //options.url = 'http://student-donor-service.herokuapp.com' + options.url;
  });

  var HomeView = Backbone.View.extend({
    el: '.page',
    render: function (options) {
        $(".page").html("<div><h2>This is the home page</h2></div>");
    }
  });

  var homeView = new HomeView();

<!-- Students -->

    var Students = Backbone.Collection.extend({
        url: '/students',
    });

    var Student = Backbone.Model.extend({
        urlRoot: '/students'
    });

    var StudentListView = Backbone.View.extend({
        el: '.page',
        render: function (options) {
            var that = this;
            var students = new Students();
            students.fetch({
                success: function(students) {
                    var template = _.template($("#student-list-template").html(), {students: students.models});
                    that.$el.html(template);
                },
                error: function(students, response, options) {
                    console.log(students);
                    console.log(response);
                    console.log(options);
                }
            });
        }
    });

    var studentListView = new StudentListView();

    var StudentDetailView = Backbone.View.extend({
        el: '.page',
        events: {
            "click #add-trip-button": "addTrip",
            "click #student-add-trip-save-button": "addTripToStudent",
            "click .deleteTripAttendance": "deleteTripFromStudent"
        },

        addTrip: function(ev) {
            // show dialog

            var template = _.template($('#student-add-trip-dialog-template').html(), {student: this.student});
            this.$el.find('#add-trip-placeholder').replaceWith(template);

            // fetch data for autocomplete
            var choices = [];
            var self = this;
            self.trips = new Trips();
            self.trips.fetch({
                success: function(trips) {
                    console.log(trips);
                    console.log(typeof trips);
                    var theTrips = _.sortBy(trips.models, 'name'); // sort results (which were returned in DESC order of date)
                    _.each(theTrips, function(trip, index, list) {
                        choices.push(trip.get('name'));
                    });

                    if (trips.length == 0) {
                        alert('No trips found');
                    } else {

                        $('#add-trip-input').autocomplete({
                            source: choices
                        });

                        var modal = self.$el.find('#student-add-trip-dialog');
                        modal.modal({}); // open modal dialog
                    }

                },
                error: function(trips, response, options) {
                    console.log(trips);
                    console.log(response);
                    console.log(options);
                }
            });
        },

        addTripToStudent: function(ev) {
            var selection = $('#add-trip-input').val();
            $('#student-add-trip-dialog').modal('hide');

            if (! selection) return;

            // create tripattendance record here
            var trip = this.trips.findWhere({name: selection});
            console.log(trip.toJSON());

            var tripattendance = new TripAttendance();
            var taDetails = {student_id: this.student.get('id'), trip_id: trip.get('id')};
            var self = this;
            tripattendance.save(taDetails, {
                success: function(tripattendance) {

                    // hack to hide modal backdrop if it didn't get destroyed correctly
                    // see http://stackoverflow.com/questions/11519660/twitter-bootstrap-modal-backdrop-doesnt-disappear
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    self.render({id: self.student.get('id')});
                    //router.navigate('students/' + self.student.get('id') , {trigger:true});
                },
                error: function(student, response, options) {
                    alert('The tripattendance could not be saved.  Please see the console log');
                    console.log(student);
                    console.log(response);
                    console.log(options);

                    // hack to hide modal backdrop if it didn't get destroyed correctly
                    // see http://stackoverflow.com/questions/11519660/twitter-bootstrap-modal-backdrop-doesnt-disappear
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    self.render({id: self.student.get('id')});

                }
            });
        },

        deleteTripFromStudent: function(ev) {
            var self = this;
            var tgt = $(ev.currentTarget).parents("tr"); // tr
            var tripattendanceId = tgt.attr('data-tripattendance-id');
            var theTA = self.tripattendances.get(tripattendanceId);
            console.log(theTA);

            if (confirm('Are you sure you want to remove this trip from this student and delete all of his/her associated donations?')) {
                theTA.destroy({
                    success: function (tripattendance, response) {
                        self.render({id: self.student.get('id')});
                }});
            }
        },

        render: function(options) {
            var that = this;

            // store the model as a property of this View
            that.student = new Student({id: options.id});
            that.student.fetch({
                success: function(student) {
                    var template = _.template($('#student-detail-template').html(), {student: student});
                    that.$el.html(template);

                    // conditionally render subpanel
                    if (options.tripId) {
                        fetchDonations();
                    } else {
                        fetchTripAttendance();
                    }
                }
            });

            var fetchTripAttendance = function() {
                // store the collection as a property of this view
                that.tripattendances = new TripAttendances();
                that.tripattendances.fetch({
                    data: {studentId: that.student.id},
                    success: function(tripattendances) {
                        var template = _.template($('#trip-tripattendances-list-template').html(), {tripattendances: tripattendances.models});
                        that.$el.find("#student-subpanel").html(template);
                    },
                    error: function(tripattendances, response, options) {
                        console.log(tripattendances);
                        console.log(response);
                        console.log(options);
                    }
                });
            }

            var fetchDonations = function() {
                // store the collection as a property of this view
                that.donations = new Donations();
                that.donations.fetch({
                    data: {studentId: that.student.id, tripId: options.tripId},
                    success: function(donations) {
                        var template = _.template($('#student-donations-list-template').html(), {donations: donations.models});
                        that.$el.find("#student-subpanel").html(template);
                    },
                    error: function(donations, response, options) {
                        console.log(donations);
                        console.log(response);
                        console.log(options);
                    }
                });
            }
        }
    });

    var studentDetailView = new StudentDetailView();

    var StudentEditView = Backbone.View.extend({
        el: '.page',
        events: {
            "submit #edit-student-form": "saveStudent",
            "click #student-delete-button": "deleteStudent"
        },
        saveStudent: function (ev) {
            var studentDetails = $(ev.currentTarget).serializeObject();
            var student = new Student();
            student.save(studentDetails, {
                success: function(student) {
                    //alert('You saved the student');
                    router.navigate('students', {trigger:true});
                },
                error: function(student, response, options) {
                    alert('The student could not be saved.  Please see the console log');
                    console.log(student);
                    console.log(response);
                    console.log(options);
                    router.navigate('students', {trigger:true});

                }
            });
            return false;
        },
        deleteStudent: function(ev) {
            this.student.destroy({
                success: function (student, response) {
                    router.navigate('students', {trigger: true});
            }});
        },
        render: function (options) {
            var that = this;
            if (options.id) {
                that.student = new Student({id: options.id});
                that.student.fetch({
                    success: function(student) {
                        var template = _.template($('#student-edit-template').html(), {student: student});
                        that.$el.html(template);
                    }
                });
            } else {
                var template = _.template($('#student-edit-template').html(), {student: null});
                that.$el.html(template);
            }
        }
    });

    var studentEditView = new StudentEditView();

<!-- Donors -->

    var Donors = Backbone.Collection.extend({
        url: '/donors',
    });

    var Donor = Backbone.Model.extend({
        urlRoot: '/donors'
    });

    var DonorListView = Backbone.View.extend({
        el: '.page',
        render: function (options) {
            var that = this;
            var donors = new Donors();
            donors.fetch({
                success: function(donors) {
                    var template = _.template($("#donor-list-template").html(), {donors: donors.models});
                    that.$el.html(template);
                },
                error: function(donors, response, options) {
                    console.log(donors);
                    console.log(response);
                    console.log(options);
                }
            });
        }
    });

    var donorListView = new DonorListView();

    var DonorDetailView = Backbone.View.extend({
        el: '.page',
        render: function(options) {
            var that = this;

            that.donor = new Donor({id: options.id});
            that.donor.fetch({
                success: function(donor) {
                    var template = _.template($('#donor-detail-template').html(), {donor: donor});
                    that.$el.html(template);

                    fetchDonations();
                }
            });

            var fetchDonations = function() {
                // store the collection as a property of this view
                that.donations = new Donations();
                that.donations.fetch({
                    data: {donorId: that.donor.id},
                    success: function(donations) {
                        var template = _.template($('#donor-donations-list-template').html(), {donations: donations.models});
                        that.$el.find("#donor-donations-list").html(template);
                    },
                    error: function(donations, response, options) {
                        console.log(donations);
                        console.log(response);
                        console.log(options);
                    }
                });
            }
        }
    });

    var donorDetailView = new DonorDetailView();

    var DonorEditView = Backbone.View.extend({
        el: '.page',
        events: {
            "submit #edit-donor-form": "saveDonor",
            "click #donor-delete-button": "deleteDonor"
        },
        saveDonor: function (ev) {
            var donorDetails = $(ev.currentTarget).serializeObject();
            var donor = new Donor();
            donor.save(donorDetails, {
                success: function(donor) {
                    //alert('You saved the donor');
                    router.navigate('donors', {trigger:true});
                },
                error: function(donor, response, options) {
                    alert('The donor could not be saved.  Please see the console log');
                    console.log(donor);
                    console.log(response);
                    console.log(options);
                    router.navigate('donors', {trigger:true});

                }
            });
            return false;
        },
        deleteDonor: function(ev) {
            this.donor.destroy({
                success: function (donor, response) {
                    router.navigate('donors', {trigger: true});
            }});
        },
        render: function (options) {
            var that = this;
            if (options.id) {
                that.donor = new Donor({id: options.id});
                that.donor.fetch({
                    success: function(donor) {
                        var template = _.template($('#donor-edit-template').html(), {donor: donor});
                        that.$el.html(template);
                    }
                });
            } else {
                var template = _.template($('#donor-edit-template').html(), {donor: null});
                that.$el.html(template);
            }
        }
    });

    var donorEditView = new DonorEditView();

<!-- Trips -->

    var Trips = Backbone.Collection.extend({
        url: '/trips',
    });

    var Trip = Backbone.Model.extend({
        urlRoot: '/trips'
    });

    var TripListView = Backbone.View.extend({
        el: '.page',
        render: function (options) {
            var that = this;
            var trips = new Trips();
            trips.fetch({
                success: function(trips) {
                    var template = _.template($("#trip-list-template").html(), {trips: trips.models});
                    that.$el.html(template);
                },
                error: function(trips, response, options) {
                    console.log(trips);
                    console.log(response);
                    console.log(options);
                }
            });
        }
    });

    var tripListView = new TripListView();

    var TripDetailView = Backbone.View.extend({
        el: '.page',
        events: {
            "click #add-student-button": "addStudent",
            "click #trip-add-student-save-button": "addStudentToTrip",
            "click .deleteTripAttendanceFromTrip": "deleteStudentFromTrip"
        },

        addStudent: function(ev) {
            // show dialog

            var template = _.template($('#trip-add-student-dialog-template').html(), {trip: this.trip});
            this.$el.find('#add-student-placeholder').replaceWith(template);

            // fetch data for autocomplete
            var choices = [];
            var self = this;
            self.students = new Students();
            self.students.fetch({
                success: function(students) {
                    console.log(students);
                    console.log(typeof students);
                    _.each(students.models, function(student, index, list) {
                        choices.push(student.get('lastname') + ', ' + student.get('firstname'));
                    });

                    if (students.length == 0) {
                        alert('No students found');
                    } else {

                        $('#add-student-input').autocomplete({
                            source: choices
                        });

                        var modal = self.$el.find('#trip-add-student-dialog');
                        modal.modal({}); // open modal dialog
                    }

                },
                error: function(students, response, options) {
                    console.log(students);
                    console.log(response);
                    console.log(options);
                }
            });
        },

        addStudentToTrip: function(ev) {
            var selection = $('#add-student-input').val();
            $('#trip-add-student-dialog').modal('hide');

            if (! selection) return;

            // create tripattendance record here
            var names = selection.split(', ');
            console.log(selection);
            console.log(names);
            var student = this.students.findWhere({lastname: names[0], firstname: names[1]});
            console.log(student.toJSON());

            var tripattendance = new TripAttendance();
            var taDetails = {student_id: student.get('id'), trip_id: this.trip.get('id')};
            var self = this;
            tripattendance.save(taDetails, {
                success: function(tripattendance) {

                    // hack to hide modal backdrop if it didn't get destroyed correctly
                    // see http://stackoverflow.com/questions/11519660/twitter-bootstrap-modal-backdrop-doesnt-disappear
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    self.render({id: self.trip.get('id')});
                    //router.navigate('students/' + self.student.get('id') , {trigger:true});
                },
                error: function(student, response, options) {
                    alert('The tripattendance could not be saved.  Please see the console log');
                    console.log(student);
                    console.log(response);
                    console.log(options);

                    // hack to hide modal backdrop if it didn't get destroyed correctly
                    // see http://stackoverflow.com/questions/11519660/twitter-bootstrap-modal-backdrop-doesnt-disappear
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    self.render({id: self.student.get('id')});

                }
            });
        },

        deleteStudentFromTrip: function(ev) {
            var self = this;
            var tgt = $(ev.currentTarget).parents("tr"); // tr
            var tripattendanceId = tgt.attr('data-tripattendance-id');
            var theTA = self.tripattendances.get(tripattendanceId);
            console.log(theTA);

            if (confirm('Are you sure you want to remove this student from this trip and delete all of his/her associated donations?')) {
                theTA.destroy({
                    success: function (tripattendance, response) {
                        self.render({id: self.trip.get('id')});
                }});
            }
        },

        render: function(options) {
            var that = this;

            // store the model as a property of this View
            that.trip = new Trip({id: options.id});
            that.trip.fetch({
                success: function(trip) {
                    var template = _.template($('#trip-detail-template').html(), {trip: trip});
                    that.$el.html(template);
                    fetchTripAttendance();
                }
            });

            var fetchTripAttendance = function() {
                // store the collection as a property of this view
                that.tripattendances = new TripAttendances();
                that.tripattendances.fetch({
                    data: {tripId: that.trip.id},
                    success: function(tripattendances) {
                        var template = _.template($('#student-tripattendances-list-template').html(), {tripattendances: tripattendances.models});
                        that.$el.find('#student-tripattendances-list').html(template);
                    },
                    error: function(tripattendances, response, options) {
                        console.log(tripattendances);
                        console.log(response);
                        console.log(options);
                    }
                });
            }
        }
    });

    var tripDetailView = new TripDetailView();

    var TripEditView = Backbone.View.extend({
        el: '.page',
        events: {
            "submit #edit-trip-form": "saveTrip",
            "click #trip-delete-button": "deleteTrip"
        },
        saveTrip: function (ev) {
            var tripDetails = $(ev.currentTarget).serializeObject();
            var trip = new Trip();
            trip.save(tripDetails, {
                success: function(trip) {
                    //alert('You saved the trip');
                    router.navigate('trips', {trigger:true});
                },
                error: function(trip, response, options) {
                    alert('The trip could not be saved.  Please see the console log');
                    console.log(trip);
                    console.log(response);
                    console.log(options);
                    router.navigate('trips', {trigger:true});

                }
            });
            return false;
        },
        deleteTrip: function(ev) {
            this.trip.destroy({
                success: function (trip, response) {
                    router.navigate('trips', {trigger: true});
            }});
        },
        render: function (options) {
            var that = this;
            if (options.id) {
                that.trip = new Trip({id: options.id});
                that.trip.fetch({
                    success: function(trip) {
                        var template = _.template($('#trip-edit-template').html(), {trip: trip});
                        that.$el.html(template);
                    }
                });
            } else {
                var template = _.template($('#trip-edit-template').html(), {trip: null});
                that.$el.html(template);
            }
        }
    });

    var tripEditView = new TripEditView();

<!-- Trip Attendance -->

    var TripAttendance = Backbone.Model.extend({
        urlRoot: '/tripattendances'
    });

    var TripAttendances = Backbone.Collection.extend({
        url: '/tripattendances'
    });

    var TripAttendanceListView = Backbone.View.extend({
    });

<!-- Donations -->
    var Donation = Backbone.Model.extend({
        urlRoot: '/donations'
    });

    var Donations = Backbone.Collection.extend({
        url: '/donations'
    });

    var donationListView = Backbone.View.extend({
    });

<!-- Router -->

    var Router = Backbone.Router.extend({
        routes: {
            "": "home",
            "students": "listStudents",
            "students/:id": "viewStudent",
            "students/:id/trips/:tripId": "viewDonationsForStudentTrip",
            "newStudent": "newStudent",
            "students/edit/:id": "editStudent",
            "donors": "listDonors",
            "donors/:id": "viewDonor",
            "newDonor": "newDonor",
            "donors/edit/:id": "editDonor",
            "trips": "listTrips",
            "trips/:id": "viewTrip",
            "newTrip": "newTrip",
            "trips/edit/:id": "editTrip"
        }
    });

    var router = new Router();
    router.on('route:home', function() {
        toggleNav("home-tab");
        homeView.render();
    });
    router.on('route:listStudents', function() {
        toggleNav("students-tab");
        studentListView.render();
    });
    router.on('route:viewStudent', function(id) {
        toggleNav("students-tab");
        studentDetailView.render({id: id});
    });
    router.on('route:viewDonationsForStudentTrip', function(id, tripId) {
        toggleNav("students-tab");
        studentDetailView.render({id: id, tripId: tripId});
    });
    router.on('route:newStudent', function(id) {
        toggleNav("students-tab");
        studentEditView.render({id: id});
    });
    router.on('route:editStudent', function(id) {
        toggleNav("students-tab");
        studentEditView.render({id: id});
    });
    router.on('route:listDonors', function() {
        toggleNav("donors-tab");
        donorListView.render();
    });
    router.on('route:viewDonor', function(id) {
        toggleNav("donors-tab");
        donorDetailView.render({id: id});
    });
    router.on('route:newDonor', function(id) {
        toggleNav("donors-tab");
        donorEditView.render({id: id});
    });
    router.on('route:editDonor', function(id) {
        toggleNav("donors-tab");
        donorEditView.render({id: id});
    });
    router.on('route:listTrips', function() {
        toggleNav("trips-tab");
        tripListView.render();
    });
    router.on('route:viewTrip', function(id) {
        toggleNav("trips-tab");
        tripDetailView.render({id: id});
    });
    router.on('route:newTrip', function(id) {
        toggleNav("trips-tab");
        tripEditView.render({id: id});
    });
    router.on('route:editTrip', function(id) {
        toggleNav("trips-tab");
        tripEditView.render({id: id});
    });


    function toggleNav(tabId) {
        $(".active").removeClass("active");
        $("#" + tabId).addClass("active");
    };

    Backbone.history.start();

  </script>

</body>
</html>